<!DOCTYPE html>
<html>
    <head>
        <title>About me</title>
       <link rel='stylesheet' href='css/styles.css'>
    </head>
    <body>
        {{>header}}
        <h4>Created by {{author}}</h4>
        {{>footer}}
    </body>
</html>